$warn: #FF0000;
$shadow: #ccc;

* {
  box-sizing: border-box;
}


.productCard {
  max-width: 400px;
  border: 1px $shadow solid;
  margin: 15px;

  &-img {
    max-height: 400px;
    max-width: 350px;
    margin: 0 auto;
  }

  &-title {
    color: $warn;
  }
}