.product-list {
  display: grid;
  grid-auto-rows: minmax(350px, auto);
  grid-template-columns: repeat(3, minmax(300px, 450px));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin-bottom: 100px;
}